.group-table-th {
    border-right: medium solid #0d0d0d;
    width: 25%;
    text-align: center;
}

.group-table-td {
    border-right: thin solid #0d0d0d;
    width: 25%;
    text-align: center;
}

.description {
    width: 50%;
}